<div className='container p-5 mt-5 col-md-5'>
    <div className='col'></div>
    <div className='col'>
        <div className='card shadow text-dark p-5'>
        <h2 className='text-center'>Sign in</h2>
            <div className="mb-3">
                <label htmlFor="email" className="form-label">Email address</label>
                <input type="email" className="form-control" id="email" required="required"
                autocomplete="true"/>
            </div>
            <div className="mb-3">
                <label htmlFor="password" className="form-label">Password</label>
                <input type="password" className="form-control" id="password" required="required" autofocus="autofocus"/>
            </div>
            <button type="submit" className="btn btn-primary mb-3">Submit</button>
            <p className="">Don't have an Account? <Link >Sign up</Link></p>
        </div>
    </div>
    <div className='col'></div>
</div>